p{
    background-color:salmon;
    color:black;
}

div{
    background-color:salmon;
    border:1px solid black;
}


body{
    color:black;
    background-color:salmon;
    margin-left:30xp;
    margin-right:30xp;
    text-align: center;
}



